#CONTAINER-NAME
CONTAINER_NAME=hibiscus-mcp

#default-preset: 8000
HIBISCUS_MCP_PUBLISH_PORT=8000

#repeat-group: ADDITIONAL_LINE suffix02 ADDITIONAL_LINE
#repeat-freeform: ADDITIONAL_LINE
ADDITIONAL_LINE=
